<h1 class="text-center">Listing all Articles</h1>

<div class="d-flex justify-content-center">
  <%= will_paginate(:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<%= render 'article', obj: @articles %>
<div class="d-flex justify-content-center">
  <%= will_paginate(:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>