// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

#logo{
  color: white;
  font-weight: bold;
}

.center{
  text-align: center;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}
